<div class="flex min-h-screen items-center justify-center bg-black text-white px-6">
  <!-- Contenedor principal: 2 columnas -->
  <div class="flex flex-col md:flex-row items-center gap-16">
    <!-- Card -->
    <div class="card bg-stone-700 w-full max-w-md md:w-[32rem] mx-auto shadow-xl rounded-xl">
      <div class="card-body">
        <h2 class="text-center text-xl font-bold mb-4">Registro</h2>

        <!-- Loading -->
        @if (isLoading) {
        <div class="text-center">
          <span class="loading loading-dots loading-lg"></span>
          <p class="mt-2">Cuenta registrada correctamente. Redirigiendo al login...</p>
        </div>
        } @else {
        <!-- Formulario -->
        <form
          [formGroup]="form"
          (ngSubmit)="submit()"
          class="grid grid-cols-1 md:grid-cols-2 gap-3"
        >
          <div class="col-span-1">
            <input
              type="text"
              formControlName="firstName"
              placeholder="Nombre *"
              class="input input-bordered rounded-full w-full"
            />
            @if (form.get('firstName')?.invalid && form.get('firstName')?.touched) {
            <div class="text-red-500 text-sm mt-1">
              @if (form.get('firstName')?.errors?.['required']) {
              <span>Nombre es requerido.</span>
              }
            </div>
            }
          </div>

          <div class="col-span-1">
            <input
              type="text"
              formControlName="lastName"
              placeholder="Apellido *"
              class="input input-bordered rounded-full w-full"
            />
            @if (form.get('lastName')?.invalid && form.get('lastName')?.touched) {
            <div class="text-red-500 text-sm mt-1">
              @if (form.get('lastName')?.errors?.['required']) {
              <span>Apellido es requerido.</span>
              }
            </div>
            }
          </div>

          <div class="col-span-1">
            <input
              type="email"
              formControlName="email"
              placeholder="Correo *"
              class="input input-bordered rounded-full w-full"
            />
            @if (form.get('email')?.invalid && form.get('email')?.touched) {
            <div class="text-red-500 text-sm mt-1">
              @if (form.get('email')?.errors?.['required']) {
              <span>Correo es requerido.</span>
              } @if (form.get('email')?.errors?.['email']) {
              <span>Formato de correo inválido.</span>
              }
            </div>
            }
          </div>

          <div class="col-span-1">
            <input
              type="text"
              formControlName="phone"
              placeholder="Teléfono"
              class="input input-bordered rounded-full w-full"
            />
          </div>

          <div class="col-span-1">
            <input
              type="text"
              formControlName="city"
              placeholder="Ciudad"
              class="input input-bordered rounded-full w-full"
            />
          </div>

          <div class="col-span-1">
            <input
              type="password"
              formControlName="password"
              placeholder="Contraseña *"
              class="input input-bordered rounded-full w-full"
            />
            @if (form.get('password')?.invalid && form.get('password')?.touched) {
            <div class="text-red-500 text-sm mt-1">
              @if (form.get('password')?.errors?.['required']) {
              <span>Contraseña es requerida.</span>
              } @if (form.get('password')?.errors?.['invalidPassword']) {
              <span>
                La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula y un
                número.
              </span>
              }
            </div>
            }
          </div>

          <div class="col-span-1">
            <input
              type="password"
              formControlName="confirmPassword"
              placeholder="Confirma Contraseña *"
              class="input input-bordered rounded-full w-full"
            />
            @if (form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched) {
            <div class="text-red-500 text-sm mt-1">
              @if (form.get('confirmPassword')?.errors?.['required']) {
              <span>Confirmación de contraseña es requerida.</span>
              } @if (form.get('confirmPassword')?.errors?.['passwordsMismatch']) {
              <span>Las contraseñas no coinciden.</span>
              }
            </div>
            }
          </div>

          <!-- Botón -->
          <button
            type="submit"
            [disabled]="form.invalid"
            class="btn btn-primary rounded-full col-span-1 md:col-span-2 mt-2"
          >
            Registrarse
          </button>

          <div class="text-center text-sm mt-3 col-span-1 md:col-span-2">
            Si ya tienes una cuenta
            <a routerLink="/login" class="link link-hover">Inicia sesión aquí</a>.
          </div>
        </form>
        }
      </div>
    </div>

    <!-- Texto lateral -->
    <div class="hidden md:flex flex-col items-start text-left">
      <p class="text-lg">Bienvenido a</p>
      <h1 class="text-4xl font-bold">PokéTrainer</h1>
    </div>
  </div>
</div>
