@import 'tailwindcss';
@source "./public/*.{html,js}";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'poketheme';
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #fff;
  --color-base-content: #000;
  --color-primary: #412ad5;
  --color-primary-content: #fff;
  --color-secondary: #0e0e0e;
  --color-secondary-content: #fff;
  --color-accent: #fbbf24;
  --color-accent-content: #000;
  --color-neutral: #7c7c7c;
  --color-neutral-content: #fff;
  --color-info: #3b82f6;
  --color-info-content: #fff;
  --color-success: #4caf50;
  --color-success-content: #fff;
  --color-warning: #fbbf24;
  --color-warning-content: #000;
  --color-error: #ef4444;
  --color-error-content: #fff;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 1rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

.p-menubar-item-label {
  color: white !important;
}

.p-menubar-item-label:hover {
  color: black !important;
}

span.p-button-icon {
  color: white !important;
}
